
body{
    background-color: #ccefff;
    font-family: "Trebuchet MS";
  }

img.a{
    width: 100px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img.b{
    width: 100px;
    height: 200px;
     margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#header{
    background-color:#c9c9c9;
    height: 200px;
    margin: 10px;
}

#main{
    background-color:#a3a3a3;
    width: 380px;
    float: left;
    font-size: 105%;
    padding: 15px;
    margin: 0px 10px 10px 10px;
}
#links{
    bacground-color: #a3a3a3;
    width: 380px;
    float: right;
    font-size: 105%;
    padding: 15px;
    margin: 0px 10px 10px 10px;
}
a:link, a:visited {
    background-color: blue;
    color: #ffffff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color:  blue ;
}
