img {
    float:left;
    text-align: center;
    width: 56px;
    height: 54px
    
}
h3 {
    float:center;
    text-align: center;
}
h1{
    text-align: right;
}
p{
     vertical-align: sub;
}
body{
    background-color: rgb(137, 189, 211);
    font-family: "Trebuchet MS";
  }
